<html>
    <head>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <span v-if="see">You can see: {{message}}</span>
        </div>
        <hr/>
        <div id="app-2">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </span>
        </div>
        <hr/>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                {{ todo.text }}
                </li>
            </ol>
        </div>
        <hr/>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <hr/>
        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>
        <hr />
        <div id="app-7">
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
        </div>
        <script src="index.js"></script>
    </body>
</html>